@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared css */
.display-flex {
  display: flex;
}
main > section {
  margin-top: 130px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* dark3 */
.text-gray {
  color: rgb(114, 114, 114);
}
.text-primary {
  color: rgb(255, 144, 14);
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  border-radius: 8px;

  background: rgb(255, 144, 14);
  color: white;
  border: none;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* nav related css */
header {
  padding: 0 140px 43px 140px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 100vw;
}
.brand {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}
/* banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-discription {
  font-size: 1rem;
  font-weight: 400;
}
.banner-img {
  width: 100%;
}
/* team and feature related style */
.teams {
  align-items: center;
  justify-content: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.our-features {
  margin-left: 73px;
  max-width: 530px;
}

.quick-list {
  font-weight: 400;
}

/* some facts related style */
.fact-card {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}
.fact-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 10px 50px 5px 50px;
}
.fact-description {
  font-size: 1.3rem;
  font-weight: 600;
}
#fact-des {
  max-width: 540px;
  margin-bottom: 100px;
}
/* sponsor related style */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 158px;
}
.sponsor-img {
  filter: grayscale(100%);
}
/* feature section related style */
#feature-title {
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 20px;
}
.feature-title {
  font-size: 1.3rem;
  font-weight: 600;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.features {
  display: flex;
  gap: 146px;
}
#exprience-btn {
  padding: 45px 42px;
  margin: -100px 0px 0px -91px;
}
.feature-right {
  margin-top: 50px;
}
.experience-year {
  font-size: 4rem;
  font-weight: 700;
}
/* footer section style  */
.footer p {
  border-radius: 8px;
  background: rgb(255, 244, 231);
  text-align: center;
  padding:39px 310px;
  margin:140px 240px 210px 240px;
  font-size: 1rem;
  font-weight: 400;
}
/* footer{
  display: flex;
  justify-content: center;
  width:100vw;
} */

/* medium size device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
  }
  .facts-container,
  .sponsor-companies {
    justify-items: center;
    gap: 24px;
  }
  .sponsor-companies {
    gap: 50px;
  }
  .banner-title {
    font-size: 2.8rem;
  }
  header {
    padding: 10px;
  }
  .feature-right img {
    width: 100%;
  }
  #exprience-btn {
    padding: 10px 10px;
    margin: 20px 20px 20px 70px;
  }
 .footer p{
  padding:20px;
  margin:10px;
 }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    row-gap: 24px;
  }
  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
  }
  #exprience-btn {
    padding: 10px 10px;
    margin: 20px 350px;
  }
}
